// import { fromJS } from 'immutable';
// import { makeSelect{{ properCase name }}Domain } from '../selectors';

// const selector = makeSelect{{ properCase name}}Domain();

describe( 'makeSelect{{ properCase name }}Domain', () => {
    it( 'Expect to have unit tests specified', () => {
        expect( true ).toEqual( false );
    });
});
