import React from 'react';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

/**
* {{ properCase name }}
*/
class {{ properCase name }} extends React.PureComponent { // eslint-disable-line react/prefer-stateless-function
    /**
    * {{ properCase name }} render method.
    */
    render() {
        return (
            <div>
                {{#if wantMessages}}
                <FormattedMessage {...messages.header} />
                {{/if}}
            </div>
        );
    }
}

export default {{ properCase name }};
