import React from 'react';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

/**
*
* {{ properCase name }}
*
*/
function {{ properCase name }}() {
    return (
        <div>
            {{#if wantMessages}}
            <FormattedMessage {...messages.header} />
            {{/if}}
        </div>
    );
}

export default {{ properCase name }};
